version: '3'

services:
  image_background_changer:
    image: ghcr.io/luler/hello_schedule:latest
    #    build:
    #      context: .
    #      dockerfile: Dockerfile
    restart: always
    ports:
      - 5000:5000
    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai